/* 深色模式 */
/* 防止背景图片、svg、canvas 和视频等混色 */
.darkmode--activated .markdown-body img,
.darkmode--activated .markdown-body svg,
.darkmode--activated .markdown-body canvas,
.darkmode--activated .markdown-body video {
  isolation: isolate;
  mix-blend-mode: difference;
}
/* 提高层 */
.darkmode-layer,
.darkmode-toggle {
  z-index: 128;
}
