/* 深色模式 */
/* 防止背景图片、svg、canvas 和视频等混色 */
.darkmode--activated img,
.darkmode--activated svg,
.darkmode--activated canvas,
.darkmode--activated video,
.darkmode--activated .avatar,
.darkmode--activated .image {
  isolation: isolate;
  mix-blend-mode: difference;
}
/* 提高层 */
.darkmode-layer,
.darkmode-toggle {
  z-index: 4096;
}
/* 深色模式切换按钮和同步按钮 */
.swb-dark-btn,
.swb-sync-btn {
  cursor: pointer;
}
/* 隐藏元素 */
swb-hide {
  display: none;
}
