{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="{{AppSubURL}}/img/SwayBien-hero.svg" alt="SwayBien" />
			</div>
			<div class="hero">
			{{if eq .Lang "de-DE"}}
				<h2>Code-Repository des SwayBien-Teams</h2>
			{{else if eq .Lang "zh-CN"}}
				<h2>随变团队的代码仓库</h2>
			{{else if eq .Lang "zh-HK"}}
				<h2>隨變團隊的代碼倉庫</h2>
			{{else if eq .Lang "zh-TW"}}
				<h2>隨變團隊的程式碼倉庫</h2>
			{{else if eq .Lang "fr-FR"}}
				<h2>Dépôt de code de l'équipe SwayBien</h2>
			{{else if eq .Lang "es-ES"}}
				<h2>Repositorio de código del equipo SwayBien</h2>
			{{else if eq .Lang "pt-BR"}}
				<h2>Repositório de código da equipe SwayBien</h2>
			{{else if eq .Lang "pt-PT"}}
				<h2>Repositório de código da equipa SwayBien</h2>
			{{else if eq .Lang "ru-RU"}}
				<h2>Репозиторий кода команды SwayBien</h2>
			{{else if eq .Lang "uk-UA"}}
				<h2>Репозиторій коду команди SwayBien</h2>
			{{else if eq .Lang "it-IT"}}
				<h2>Repository di codice del team SwayBien</h2>
			{{else if eq .Lang "nl-NL"}}
				<h2>Code repository van het SwayBien-team</h2>
			{{else if eq .Lang "lv-LV"}}
				<h2>SwayBien komandas koda repozitorijs</h2>
			{{else if eq .Lang "ja-JP"}}
				<h2>SwayBien チームのコードリポジトリ</h2>
			{{else if eq .Lang "pl-PL"}}
				<h2>Repozytorium kodu zespołu SwayBien</h2>
			{{else if eq .Lang "bg-BG"}}
				<h2>Хранилище за код на екипа SwayBien</h2>
			{{else if eq .Lang "fi-FI"}}
				<h2>SwayBien-tiimin koodirepositorio</h2>
			{{else if eq .Lang "tr-TR"}}
				<h2>SwayBien ekibinin kod deposu</h2>
			{{else if eq .Lang "cs-CZ"}}
				<h2>Kódový repozitář týmu SwayBien</h2>
			{{else if eq .Lang "sr-SP"}}
				<h2>Кодни репозиторијум тима SwayBien</h2>
			{{else if eq .Lang "sv-SE"}}
				<h2>SwayBien-teamets kodförråd</h2>
			{{else if eq .Lang "ko-KR"}}
				<h2>SwayBien 팀 코드 저장소</h2>
			{{else if eq .Lang "gl-ES"}}
				<h2>Repositorio de código do equipo SwayBien</h2>
			{{else if eq .Lang "en-GB"}}
				<h2>SwayBien Team Code Repository</h2>
			{{else if eq .Lang "en-US"}}
				<h2>SwayBien Team Code Repository</h2>
			{{else if eq .Lang "hu-HU"}}
				<h2>A SwayBien csapat kód tárolója</h2>
			{{else if eq .Lang "sk-SK"}}
				<h2>Kódový repozitár tímu SwayBien</h2>
			{{else if eq .Lang "id-ID"}}
				<h2>Repositori kode tim SwayBien</h2>
			{{else if eq .Lang "fa-IR"}}
				<h2>مخزن کد تیم SwayBien</h2>
			{{else if eq .Lang "vi-VN"}}
				<h2>Kho mã của nhóm SwayBien</h2>
			{{else if eq .Lang "mn-MN"}}
				<h2>SwayBien багийн кодын сан</h2>
			{{else if eq .Lang "ro-RO"}}
				<h2>Depozitul de cod al echipei SwayBien</h2>
			{{else}}
				<h2>SwayBien Team Code Repository</h2>
			{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
